/*Write your global styles here, in PostCSS syntax */
/*place global styles here */
html,
body {
	@apply h-full overflow-hidden;
}

@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter.ttf');
	/* font-display: swap; */
}

:root {
	--theme-rounded-base: 20px;
	--theme-rounded-container: 4px;
}

:root {
	--theme-font-family-base: 'Inter', sans-serif;
	--theme-font-family-heading: 'Inter', sans-serif;
}
